<!doctype html>

<html>

   <body>
   <h1>Object detection Demo</h1>
   <br><br><br><br>
      <form action = "/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
          <br><br><br><br>
          All data from input to output is loaded through in memory buffer <br> so it might take time <b> O(H x W x C) </b>
          <br><br>
          <a target="_blank" href="https://github.com/rdeepc/herokuobjectdetection">Github</a>
      </form>
   </body>
</html>